extends modules/layout/_page-other

block head
  +head('Login')

block main
  .login
    .login__header
      a.login_link(href='#') LOGO
    .login__content
      h2.title.tile--bigger LOGIN
      .login__block
        form(action="")
          +input-text({
            label: "Mail Address",
            id: 'email',
            type: 'email'
          })
        a.login__link.login__link--blue(href='') Forgot password
        a.login__link.login__link--red(href='') Create account
    .login__block
        p.title Login with other services
        -
          var services = [
            {
              image: 'https://cdn3.iconfinder.com/data/icons/inficons/512/apple.png',
              text: 'Login with Apple ID'
            },
            {
              image: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKUdWhKM3iBY-MQjfuwXtUoQsc12bHZIVwpg&usqp=CAU',
              text: 'Login with Line ID'
            },
            {
              image: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGrnugaQtmuZ3M1ojubGMWdPMlb2VF0RRKPw&usqp=CAU',
              text: 'Login with Twitter ID'
            },
            {
              image: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRf7uwYXP8ZUQVjeX6ylcoqaM3x3xQyjKMv1Q&usqp=CAU',
              text: 'Login with Facebook ID'
            }
          ]
        each item in services
          +button-image({
            imageUrl: item.image,
            text: item.text
          })
      | Footer
